doctype html
html(lang="en" ng-app="index")

head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="")
    meta(name="author" content="")

    title Checkers
    <!-- Core CSS -->
    link(href="../modules/css/core.css" rel="stylesheet")

    <!-- Pure -->
    link(rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css")



    <!-- Angularjs -->
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js")
    script(src="../js/index.js")


body(ng-controller="indexController")
    .checker-layout
        .header
            .logout-button(ng-click="logout()") 登出
        .checker(ng-repeat="checker in checkers track by $index")
            .checker-content
                .checker-head
                    .pure-g
                        .pure-u-5-6
                            div(ng-click="checkerFunc.modify(checker._id)", ng-hide="checkerFunc.name_input_display[checker._id]") {{checker.name}}
                            input.checker-name(type="text" ng-model="checker.name", ng-blur="checkerFunc.update(checker)", ng-hide="!checkerFunc.name_input_display[checker._id]")
                        
                        .pure-u-1-6
                            a.delete-button(ng-click="checkerFunc.delete(checker, $index)") x
                        
                .task-list
                    .task(ng-repeat="task in checker.tasks track by $index")
                        .pure-g
                            .pure-u-5-6
                                .pure-g
                                    .pure-u-1-6
                                        input(type="checkbox", ng-model="task.finished", ng-click="taskFunc.updateFinished(checker, task)")
                                        img.icon-button(src="../img/core/alarm.png" ng-click="taskFunc.switchDateSet(task._id)", ng-hide="taskFunc.duedate_input_display[task._id]||!task.owner")

                                    .pure-u-5-6
                                        div(ng-click="taskFunc.modify(task._id)", ng-hide="taskFunc.name_input_display[task._id]") {{task.name}}
                                        textarea(ng-model="task.name", ng-blur="taskFunc.update(task)", ng-hide="!taskFunc.name_input_display[task._id]")
                                        span.due-date(ng-class="{overtime: (task.due_date < now)&&task.due_date}", ng-hide="taskFunc.duedate_input_display[task._id]||task.finished") {{task.due_date.toLocaleDateString()}}
                                    
                            .pure-u-1-6
                                a.task-delete-button(ng-click="taskFunc.delete(checker, task, $index)") x
                                .dropdown
                                    img.drop-button(ng-src="{{task.owner.profile_photo||'../img/core/user-black.png'}}")
                                    .dropdown-content
                                        a(ng-click="taskFunc.setTaskOwner(task, user)" ng-repeat="user in users track by $index")
                                            img.icon-button(ng-src="{{user.profile_photo}}")
                                            span {{user.name}}
                                    
                        .date-set-block(ng-hide="!taskFunc.duedate_input_display[task._id]")
                            input(type="date" ng-model="task.due_date" ng-change="taskFunc.setDueDate(task)")
                            a.task-delete-button(ng-click="taskFunc.switchDateSet(task._id)") x
                    
                        .task-arrow(ng-class="{blink: !task.finished && blink_animation}", ng-if="$index!==checker.tasks.length-1")

                    .task(ng-hide="!taskFunc.content_input_display[checker._id]")
                        .pure-g
                            .pure-u-5-6
                                textarea(type="text" ng-model="taskFunc.content_input[checker._id]")
                            .pure-u-1-6
                                a.cancel-button(ng-click="taskFunc.cancel(checker._id)") x
                                a.save-button(ng-click="taskFunc.save(checker)") 儲存
                    
                a(ng-click="taskFunc.add(checker._id)", ng-hide="taskFunc.content_input_display[checker._id]")
                    .add-task-button 新增任務
        
        .checker(ng-hide="!checkerFunc.content_input_display")
            .checker-content
                .pure-g
                    .pure-u-5-6
                        input(type="text" ng-model="checkerFunc.content_input")
                    .pure-u-1-6
                        a.cancel-button(ng-click="checkerFunc.cancel(checker._id)") x
                a.save-button(ng-click="checkerFunc.save()") 儲存
            
        a(ng-click="checkerFunc.add()" ng-hide="checkerFunc.content_input_display")
            .add-checker-button 新增專案
