doctype html
html(lang="en" ng-app="index")

head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="")
    meta(name="author" content="")

    title 漢光簽核系統
    <!-- Pure -->
    link(rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css")



    <!-- Angularjs -->
    script(src="/lib/angular/angular.js")
    script(src="/lib/angular-ui-router/release/angular-ui-router.js")
    script(src="/lib/ui-router-extras/release/ct-ui-router-extras.js")
    script(src="/lib/angular-drag-and-drop-lists/angular-drag-and-drop-lists.min.js")
    script(src="../modules/js/route.js")
    script(src="../modules/js/core.js")
    script(src="../modules/js/index.js")
    script(src="../modules/js/boards.js")
    script(src="../modules/js/social.js")
    

    
    link(rel="stylesheet" href="/lib/ng-dialog/css/ngDialog.min.css")
    link(rel="stylesheet" href="/lib/ng-dialog/css/ngDialog-theme-default.min.css")
    script(src="/lib/ng-dialog/js/ngDialog.min.js")

    <!-- Core CSS -->
    link(href="../modules/css/core.css" rel="stylesheet")



body(ng-controller="coreController")
    .header
        a(href="/")
            .board-button 看板
        a(ng-click="mainDisplay('https://docs.google.com/spreadsheets/d/1WuDMlCJTqvjJFrCSdw88HFYrXG0Zwz3m2p6M-PAd9-U/edit#gid=0')")
            .board-button 甘特圖
        a(href="https://www.surveycake.com/s/PqWww" target="_blank")
            .board-button 意見回報
        .logout-button(ng-click="logout()") 登出
    .web-layout(ui-view="")

script.
    var pageAccessToken = 'EAAINUgaZAImYBAF9Bvq8JPqkmtftxgU9fuLlIgB3XTbSNqLqxL5LLEV6IPhA5wGDgQjQRnww2Y5E2M78DwTyNKUlUGJLZBq0pOOO6vWeuLRyKfVT8OfCUmvIlKd8LnPeB6U6qX6LyKfvhqIEeaSW71NMhOO6jkYUL16j8gugZDZD';
    //- var pageAccessToken = 'EAAINUgaZAImYBADkU4heVNXlN0yhzpSgXurOoZCyia3vuEJzbdvf3VYCLZABPKBLUdGuHVSoZBzcicd1K4iYn5ALytSYKstZCxvpP3LsKhwMvWJD3ZBKxRZA83c6wFrESaXFcvlCVIZBtblOZBZCDXN7ZC7NX1fSgRxL07kGZAw8g3r8Djls4WZBq91shA9EqH9ZB0MdpTHZCdrZBa7s5gZDZD';
    function init() {
        FB.api(
          '/hanguang.org.tw/promotable_posts?fields=full_picture,message,scheduled_publish_time,permalink_url&is_published=false',
          {access_token : pageAccessToken},
          function(response) {
            window.fbArray = response.data;
            console.log(window.fbArray);
          }
        );
        //- FB.api(
        //-   '289291027903142/promotable_posts?fields=full_picture,message,scheduled_publish_time,permalink_url&is_published=false',
        //-   {access_token : pageAccessToken},
        //-   function(response) {
        //-     window.fbArray = response.data;
        //-     console.log(window.fbArray);
        //-   }
        //- );
    }

    window.fbAsyncInit = function() {
      FB.init({
        appId      : '577595902599782',
        xfbml      : true,
        version    : 'v3.1'
      });

      init();
    };

    (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));