.social-block
	h3 排程
	.pure-g
		.pure-u-1-8
			span 週一
			.content 內容
			div 留言
		.pure-u-1-8
			span 週二
			.content 內容
			div 留言
		.pure-u-1-8
			span 週三
			.content 內容
			div 留言
		.pure-u-1-8
			span 週四
			.content 內容
			div 留言
		.pure-u-1-8
			span 週五
			.content 內容
			div 留言
		.pure-u-1-8
			span 週六
			.content 內容
			div 留言
		.pure-u-1-8
			span 週日
			.content 內容
			div 留言
