.social-block
    h3 排程
    .pure-g
    .pure-u-1-4.fb-post(ng-repeat="post in fbArray")
        .post-time {{convertTime(post.scheduled_publish_time)}}
        pre {{post.message}}
     
        img.post_image(ng-src="{{post.full_picture}}")
        a(href="{{post.permalink_url}}" target="_blank") 原文網址
    //- .pure-g
    //-     .pure-u-1-8
    //-         span 週一
    //-         .content 內容
    //-         div 留言
    //-     .pure-u-1-8
    //-         span 週二
    //-         .content 內容
    //-         div 留言
    //-     .pure-u-1-8
    //-         span 週三
    //-         .content 內容
    //-         div 留言
    //-     .pure-u-1-8
    //-         span 週四
    //-         .content 內容
    //-         div 留言
    //-     .pure-u-1-8
    //-         span 週五
    //-         .content 內容
    //-         div 留言
    //-     .pure-u-1-8
    //-         span 週六
    //-         .content 內容
    //-         div 留言
    //-     .pure-u-1-8
    //-         span 週日
    //-         .content 內容
    //-         div 留言

