html,body{
    margin: 0;
    padding: 0;
    height: 100%;
}
body{
    background-color: #f7f7f7;
    height: 100%;
}
/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.task-list ul[dnd-list] {
    min-height: 42px;
    padding-left: 0px;
}
::-webkit-scrollbar {
    width: 8px;
    height: 17px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 /*add a shadow to the scrollbar here*/
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
/*this is the little scrolly dealio in the bar*/ 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #b1a9a9;
    height: 3px;
}
/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
.task-list ul[dnd-list] .dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
.task-list ul[dnd-list] .dndPlaceholder {
    background-color: #ddd;
    display: block;
    min-height: 42px;
}

.task-list ul[dnd-list] li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
}

/**
 * Show selected elements in green
 */
.task-list ul[dnd-list] li.selected {
    background-color: #dff0d8;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

input[type="checkbox"] {
  display: none;
}
label {
  cursor: pointer;
}
input[type="checkbox"] + label:before {
  border: 1px solid;
  content: "\00a0";
  display: inline-block;
  font-size: 15px;
  height: 25px;
  padding: 0;
  vertical-align: top;
  width: 25px;
  background-color: white;
}
input[type="checkbox"]:checked + label:before {
  background: #fff;
  color: #666;
  content: "\2713";
  text-align: center;
}
input[type="checkbox"]:checked + label:after {
  font-weight: bold;
}

@keyframes blink {
	0% {opacity: 0}
	50% {opacity: 1}
    100%{opacity: 0}
}

.blink{animation: blink 1s infinite;}

.small-icon-button{
    width: 14px;
    margin-top: 9px;
}
.icon-button{
    width: 20px;
    cursor: pointer;
    margin-top: 9px;
}
.logout-button{
    color: black;
    padding: 2px 50px;
    @media (max-width: 480px){
        padding: 2px 10px;
    }
    float: right;
    cursor: pointer;
    &:hover {
        background-color: #f7f7f7;
    }
}
.board-button{
    color: black;
    padding: 2px 30px;
    @media (max-width: 480px){
        padding: 2px 10px;
    }
    float: left;
    cursor: pointer;
    &:hover {
        background-color: #f7f7f7;
    }
}
.header{
        background-color: #ddd;
        height: 26px;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        position: absolute;
    }
.gantt{
    top: 34px;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 85%;
    width: 100%;
    position: absolute;
    background-image: url('/img/core/loading.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-color: rgba(100%,100%,100%,0.6);
    
}
.reports{
    bottom: 6%;
    left: 0;
    right: 0;
    z-index: 1000;
    position: absolute;
    @media (max-width: 480px){
        width: 300px;
        height: 82%;
        margin-top: 27px;
        display: inline-block;
        position: inherit;
        overflow: scroll;
    }
    .report{
        .show-evaluation-mobile,.show-month-mobile,.hover-show-evaluation,.hover-show-month,.hover-hide-mobile{
            display: none;
        }
        width: 7%;
        text-align: center;
        display: inline-block;
        
        /*.hover-show-month{
            display: none;
        }*/
        @media (max-width: 480px){
            width: 100%;
            .hover-hide{
                display: none;
            }
            .show-month-mobile{
                    display: block;
                    padding: 10px 0;
                }
            &.active{
                background-color: #ffff0030;
                .show-evaluation-mobile, .show-month-mobile{
                    display: block;
                }
            }
            
        }
        
        
        @media (min-width:768px){
            &:hover {
                .hover-hide{
                    display: none;
                }
                .hover-show-month{
                    display: block;
                    &:hover{
                        border-bottom: 2px solid gray; 
                    }
                }
            }
            &.active{
                background-color: #ffff0030;
                &:hover {
                    .hover-hide{
                        display: none;
                    }
                    .hover-show-evaluation{
                        display: block;
                        &:hover{
                            border-bottom: 2px solid gray; 
                        }
                    }
                    .hover-show-month{
                        display: block;
                        &:hover{
                            border-bottom: 2px solid gray; 
                        }
                    }
                }
            }
        }
        
    }
}
.web-layout{
    height: 100%;
    min-height: 100%; /* real browsers */
    min-width: 100%;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: #f7f7f7;

    .board-layout{
        width: max-content; 
        width: -webkit-max-content;
        .board{
            width: max-content; 
            width: -webkit-max-content;
            font-size: 16px;
            text-align:center;
            vertical-align: top;
            word-wrap: break-word;
            width: 300px;
            height: 250px;
            padding: 50px;
            vertical-align: top;
            border: 1px solid;
            color: #777;
            
            @media (min-width:768px){
                display: inline-block;
                margin-top: 175px;
            }

            .save-button{
                padding: 3px;
                display: block;
                border: 1px solid;
                cursor:pointer;
                &:hover{
                    background-color: #fff;
                }
            }

            .cancel-button{
                cursor:pointer;
            }

            .board-content{
                display: inline-block;
                line-height: 50px;
                width: 300px;
                vertical-align: top;
                margin: 10px 24px;
            }

            .delete-button{
                cursor: pointer;
                padding: 5px;
                font-size: 1px;
            }
            .enter-board{
                padding: 40px;
                margin: 40px;
                &:hover{
                    background-color: #fff;
                }
            }
        }
        .add-board-button{
            cursor: pointer;
            display: inline-block;
            text-align: center;
            vertical-align: top;
            margin: 221px 27px;
            border: 1px solid;
            padding: 54px;
            color: #777;

            &:hover{
                background-color: #fff;
            }
        }
    }

    .checker-layout{
        height: 100%;
        width: max-content; 
        width: -webkit-max-content;
        .checker{
            display: inline-block;
            font-size: 16px;
            text-align:center;
            vertical-align: top;
            word-wrap: break-word;
            margin-top: 27px;
            overflow: scroll;
            height: 82%;

            .save-button{
                padding: 3px;
                display: block;
                border: 1px solid;
                background-color: #f2f8fc;
                cursor:pointer;
                &:hover{
                    background-color: #026aa7;
                    color:white;
                }
            }

            .cancel-button{
                cursor:pointer;
            }

            .checker-content{
                display: inline-block;
                line-height: 24px;
                width: 300px;
                border: 1px solid;
                vertical-align: top;
                margin: 7px 24px;
                &:hover{
                    box-shadow: 1px 2px 5px #888888;
                } 

                .checker-head{
                    color: white;

                    .delete-button{
                        cursor: pointer;
                        padding: 5px;
                        font-size: 1px;
                        &:hover{
                            background-color: #3c8dbc;
                        }
                    }
                }

                .task-list{
                    .task{
                        padding: 5px;
                        background-color: #f2f8fc;
                        line-height: 19px;

                        .task-arrow{
                            display: inline-block;
                            vertical-align: top;
                            position: relative;
                            width: 10px;
                            height: 10px;
                            border-top: 2px solid black;
                            border-right: 2px solid;
                            transform: rotate(135deg);
                            margin: 14px;
                        }


                        .task-delete-button{
                            cursor: pointer;
                            padding: 5px;
                            font-size: 1px;
                            &:hover{
                                background-color: #f7f7f7;
                            }
                        }
                        .dropdown{
                            .drop-button{
                                width: 20px;
                                cursor: pointer;
                            }
                            .dropdown-content {
                                position: relative;
                                left: -136px;
                                background-color: #f1f1f1;
                                min-width: 160px;
                                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                                z-index: 1;

                                a {
                                    color: black;
                                    padding: 12px 16px;
                                    text-decoration: none;
                                    display: block;
                                    text-align: left;
                                    cursor: pointer;

                                    &:hover {background-color: #ddd;}
                                }
                            }
                            // &:hover .dropdown-content{
                            //     display: block;
                            // }
                        }
                    }
                }
                .add-task-button{
                    cursor: pointer;
                    color: white;
                    width: 100%;
                }
            }

        }
        .add-checker-button{
            cursor: pointer;
            display: inline-block;
            text-align: center;
            vertical-align: top;
            margin: 71px 27px;
            border: 1px solid;
            padding: 54px;
            color: #777;

            &:hover{
                background-color: #fff;
            }
        }
    }
}
.dropdown{
    padding: 4px;
    .drop-button{
        width: 100%;
        cursor: pointer;
        height: 20px;
        border-radius: 100%;
    }
    .dropdown-content {
        position: relative;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;

        a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
            cursor: pointer;

            &:hover {background-color: #ddd;}
        }
    }
    // &:hover .dropdown-content{
    //     display: block;
    // }
}
.due-date{
    font-size: 12px;
    color:gray;

    &.overtime{
        background-color: #ec9488;
        color: white;
        padding: 3px 9px;
        border-radius: 9px;
    }
}
.date-set-block{
    padding: 10px 7px 10px 4px;
    background-color: #e0eff9;
    .save-button{
        padding: 0;
        width: 47px;
        border-radius: 20px;
    }
}
.message-enter{
    padding: 13px 0;
    a {
        padding: 20px;
    }
}
.message{
    background-color: white;
    padding: 15px;
    margin: 22px 0;

    span {
        word-wrap: break-word;
    }
}
.checklist-enter{
    padding: 13px 0;
    a {
        padding: 20px;
    }
}
.checklist{
    background-color: white;
    padding: 3px;
    margin: 6px 0;

    .finished{
        text-decoration: line-through;
        opacity: 0.5;
        font-style:italic;
    }
    span {
        word-wrap: break-word;
        padding: 18px;
    }
}
.blue{
    .checker-content{
        .checker-head{
            background-color: #539be8;
        }
        .add-task-button{
            background-color: #8fbef0;
        }
    }
}
.red{
    .checker-content{
        .checker-head{
            background-color: #fe6261;
        }
        .add-task-button{
            background-color: #fea5a5;
        }
    }
}
.green{
    .checker-content{
        .checker-head{
            background-color: #50ca95;
        }
        .add-task-button{
            background-color: #9ee2c5;
        }
    }
}
.coffee{
    .checker-content{
        .checker-head{
            background-color: #d29034;
        }
        .add-task-button{
            background-color: #d29034ad;
        }
    }
}
.purple{
    .checker-content{
        .checker-head{
            background-color: #937fa7;
        }
        .add-task-button{
            background-color: #937fa7ab;
        }
    }
}
.pink{
    .checker-content{
        .checker-head{
            background-color: #ec9eac;
        }
        .add-task-button{
            background-color: #ec9eaca6;
        }
    }
}

.color_a{
    .checker-content{
        .checker-head{
            background-color: #91c976;
        }
        .add-task-button{
            background-color: #91c975b3;
        }
    }
}
.color_b{
    .checker-content{
        .checker-head{
            background-color: #c97676;
        }
        .add-task-button{
            background-color: #c97676a3;
        }
    }
}
.color_c{
    .checker-content{
        .checker-head{
            background-color: #e2da25;
        }
        .add-task-button{
            background-color: #e2da2887;
        }
    }
}
.color_d{
    .checker-content{
        .checker-head{
            background-color: #ed8d1e;
        }
        .add-task-button{
            background-color: #ed8d1e9e;
        }
    }
}
.color_e{
    .checker-content{
        .checker-head{
            background-color: #76c9c0;
        }
        .add-task-button{
            background-color: #75c9c0bd;
        }
    }
}
.color_f{
    .checker-content{
        .checker-head{
            background-color: #7695c9;
        }
        .add-task-button{
            background-color: #7694caab;
        }
    }
}
.color_g{
    .checker-content{
        .checker-head{
            background-color: #c9769a;
        }
        .add-task-button{
            background-color: #c9759abf;
        }
    }
}
.color_h{
    .checker-content{
        .checker-head{
            background-color: #283484;
        }
        .add-task-button{
            background-color: #283483c2;
        }
    }
}
.color_i{
    .checker-content{
        .checker-head{
            background-color: #751616;
        }
        .add-task-button{
            background-color: #741616c2;
        }
    }
}

.choose-color{
    padding: 20px;
    .choose{
        border-radius: 100%;
        width: 35px;
        height: 35px;
        &:hover{
            box-shadow: 0 0 27px rgba(0, 0, 0, 0.5);
        } 
    }
    .choose-blue{
        background-color: #539be8;
    }
    .choose-red{
        background-color: #fe6261;
    }
    .choose-green{
        background-color: #50ca95;
    }
    .choose-coffee{
        background-color: #d29034;
    }
    .choose-purple{
        background-color: #937fa7;
    }
    .choose-pink{
        background-color: #ec9eac;
    }
    .choose-color-a{
        background-color: #91c976;
    }
    .choose-color-b{
        background-color: #c97676;
    }
    .choose-color-c{
        background-color: #e2da25;
    }
    .choose-color-d{
        background-color: #ed8d1e;
    }
    .choose-color-e{
        background-color: #76c9c0;
    }
    .choose-color-f{
        background-color: #7695c9;
    }
    .choose-color-g{
        background-color: #c9769a;
    }
    .choose-color-h{
        background-color: #283484;
    }
    .choose-color-i{
        background-color: #751616;
    }
}

.social-block{
    padding: 50px;
    .content{
        padding: 50px 0;
    }
    .fb-post{
        background-color: white;
        padding: 24px;
        margin: 8px;
        border: 1px solid #dddfe2;
        border-radius: 3px;
        .post_image{
            width: 100%;
            padding: 22px 0;
        } 
        .post-time{
            color: grey;
        }
        pre{
            white-space: pre-wrap;       /* Since CSS 2.1 */
            white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
            white-space: -pre-wrap;      /* Opera 4-6 */
            white-space: -o-pre-wrap;    /* Opera 7 */
            word-wrap: break-word;     
        }
    }
    
}