html{
    height: 100%;
}
body{
    height: 100%;
    background-color: #DCDCDC;
}

@keyframes blink {
	0% {opacity: 0}
	50% {opacity: 1}
    100%{opacity: 0}
}

.blink{animation: blink 1s infinite;}

.icon-button{
    width: 20px;
    cursor: pointer;
}
.checker-layout{
    width: max-content;
    height: 100%;
    background-color: #3c8dbc;

    .header{
        background-color: #026aa7;
        height: 40px;
    }
    .checker{
        display: inline-block;
        font-size: 16px;
        text-align:center;
        vertical-align: top;
        word-wrap: break-word;
        margin-top: 50px;

        .save-button{
            padding: 5px;
            border: 1px solid;
            background-color: #f2f8fc;
            cursor:pointer;
            &:hover{
                background-color: #026aa7;
                color:white;
            }
        }

        .checker-content{
            display: inline-block;
            line-height: 50px;
            width: 260px;
            border: 2px solid;
            vertical-align: top;
            margin: 10px 24px;

            .checker-head{
                padding: 10px;
                background-color: #026aa7;
                color: white;

                .checker-name {
                    background-color:#565454;
                }

                .delete-button{
                    cursor: pointer;
                    padding: 5px;
                    font-size: 1px;
                    &:hover{
                        background-color: #3c8dbc;
                    }
                }
            }

            .task-list{
                .task{
                    padding: 10px;
                    background-color: #f2f8fc;
                    line-height: 30px;

                    .due-date{
                        font-size: 14px;
                        color:gray;
                    }

                    .date-set-block{
                        padding: 10px 33px 10px 10px;
                        background-color: #e0eff9;
                    }

                    .task-delete-button{
                        cursor: pointer;
                        padding: 5px;
                        font-size: 1px;
                        &:hover{
                            background-color: #f7f7f7;
                        }
                    }
                    .dropdown{
                        .drop-button{
                            width: 20px;
                            cursor: pointer;
                        }
                        .dropdown-content {
                            display: none;
                            position: absolute;
                            background-color: #f1f1f1;
                            min-width: 160px;
                            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                            z-index: 1;

                            a {
                                color: black;
                                padding: 12px 16px;
                                text-decoration: none;
                                display: block;
                                text-align: left;
                                cursor: pointer;

                                &:hover {background-color: #ddd;}
                            }
                        }
                        &:hover .dropdown-content{
                            display: block;
                        }
                    }
                }
            }
            .add-task-button{
                cursor: pointer;
                color: white;
                width: 100%;
                &:hover{
                    background-color: #026aa7;
                }
            }
        }

        .checker-arrow{
            display: inline-block;
            vertical-align: top;
            position: relative;
            width: 14px;
            height: 14px;
            border-top: 10px solid black;
            border-right: 10px solid;
            transform: rotate(45deg);
            margin: 50px 20px;
        }
    }
    .add-checker-button{
        cursor: pointer;
        display: inline-block;
        text-align: center;
        vertical-align: top;
        margin: 71px 27px;
        border: 1px solid;
        padding: 54px;
        color: white;

        &:hover{
            background-color: #026aa7;
        }
    }
}
