html,body{
    margin: 0;
    padding: 0;
    height: 100%;
}
body{
    background-color: #f7f7f7;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

input[type="checkbox"] {
  display: none;
}
label {
  cursor: pointer;
}
input[type="checkbox"] + label:before {
  border: 1px solid;
  content: "\00a0";
  display: inline-block;
  font-size: 15px;
  height: 25px;
  padding: 0;
  vertical-align: top;
  width: 25px;
  background-color: white;
}
input[type="checkbox"]:checked + label:before {
  background: #fff;
  color: #666;
  content: "\2713";
  text-align: center;
}
input[type="checkbox"]:checked + label:after {
  font-weight: bold;
}

@keyframes blink {
	0% {opacity: 0}
	50% {opacity: 1}
    100%{opacity: 0}
}

.blink{animation: blink 1s infinite;}

.small-icon-button{
    width: 14px;
    margin-top: 9px;
}
.icon-button{
    width: 20px;
    cursor: pointer;
    margin-top: 9px;
}
.logout-button{
    color: black;
    padding: 2px 50px;
    float: right;
    cursor: pointer;
    &:hover {
        background-color: #f7f7f7;
    }
}
.board-button{
    color: black;
    padding: 2px 50px;
    float: left;
    cursor: pointer;
    &:hover {
        background-color: #f7f7f7;
    }
}
.header{
        background-color: #ddd;
        height: 26px;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
    }
.web-layout{
    height: auto !important; /* real browsers */
    min-height: 100%; /* real browsers */
    min-width: 100%;
    width: 100%;
    overflow: auto;
    background-color: #f7f7f7;

    .board-layout{
        width: max-content; 
        .board{
            width: max-content; 
            display: inline-block;
            font-size: 16px;
            text-align:center;
            vertical-align: top;
            word-wrap: break-word;
            margin-top: 175px;
            width: 300px;
            height: 250px;
            padding: 50px;
            vertical-align: top;
            border: 1px solid;
            color: #777;
            
            .save-button{
                padding: 3px;
                display: block;
                border: 1px solid;
                cursor:pointer;
                &:hover{
                    background-color: #fff;
                }
            }

            .cancel-button{
                cursor:pointer;
            }

            .board-content{
                display: inline-block;
                line-height: 50px;
                width: 300px;
                vertical-align: top;
                margin: 10px 24px;
            }

            .delete-button{
                cursor: pointer;
                padding: 5px;
                font-size: 1px;
            }
            .enter-board{
                padding: 40px;
                margin: 40px;
                &:hover{
                    background-color: #fff;
                }
            }
        }
        .add-board-button{
            cursor: pointer;
            display: inline-block;
            text-align: center;
            vertical-align: top;
            margin: 221px 27px;
            border: 1px solid;
            padding: 54px;
            color: #777;

            &:hover{
                background-color: #fff;
            }
        }
    }

    .checker-layout{
        width: max-content; 
        .checker{
            display: inline-block;
            font-size: 16px;
            text-align:center;
            vertical-align: top;
            word-wrap: break-word;
            margin-top: 27px;

            .save-button{
                padding: 3px;
                display: block;
                border: 1px solid;
                background-color: #f2f8fc;
                cursor:pointer;
                &:hover{
                    background-color: #026aa7;
                    color:white;
                }
            }

            .cancel-button{
                cursor:pointer;
            }

            .checker-content{
                display: inline-block;
                line-height: 24px;
                width: 300px;
                border: 1px solid;
                vertical-align: top;
                margin: 7px 24px;
                &:hover{
                    box-shadow: 1px 2px 5px #888888;
                } 

                .checker-head{
                    background-color: #026aa7;
                    color: white;

                    .delete-button{
                        cursor: pointer;
                        padding: 5px;
                        font-size: 1px;
                        &:hover{
                            background-color: #3c8dbc;
                        }
                    }
                    .dropdown{
                        padding: 4px;
                        .drop-button{
                            width: 100%;
                            cursor: pointer;
                        }
                        .dropdown-content {
                            position: relative;
                            left: -136px;
                            background-color: #f1f1f1;
                            min-width: 160px;
                            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                            z-index: 1;

                            a {
                                color: black;
                                padding: 12px 16px;
                                text-decoration: none;
                                display: block;
                                text-align: left;
                                cursor: pointer;

                                &:hover {background-color: #ddd;}
                            }
                        }
                        // &:hover .dropdown-content{
                        //     display: block;
                        // }
                    }
                }

                .task-list{
                    .task{
                        padding: 5px;
                        background-color: #f2f8fc;
                        line-height: 19px;

                        .task-arrow{
                            display: inline-block;
                            vertical-align: top;
                            position: relative;
                            width: 10px;
                            height: 10px;
                            border-top: 2px solid black;
                            border-right: 2px solid;
                            transform: rotate(135deg);
                            margin: 14px;
                        }


                        .task-delete-button{
                            cursor: pointer;
                            padding: 5px;
                            font-size: 1px;
                            &:hover{
                                background-color: #f7f7f7;
                            }
                        }
                        .dropdown{
                            .drop-button{
                                width: 20px;
                                cursor: pointer;
                            }
                            .dropdown-content {
                                position: relative;
                                left: -136px;
                                background-color: #f1f1f1;
                                min-width: 160px;
                                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                                z-index: 1;

                                a {
                                    color: black;
                                    padding: 12px 16px;
                                    text-decoration: none;
                                    display: block;
                                    text-align: left;
                                    cursor: pointer;

                                    &:hover {background-color: #ddd;}
                                }
                            }
                            // &:hover .dropdown-content{
                            //     display: block;
                            // }
                        }
                    }
                }
                .add-task-button{
                    cursor: pointer;
                    color: white;
                    width: 100%;
                    &:hover{
                        background-color: #026aa7;
                    }
                }
            }

            &.blue{
                .checker-content{
                    .checker-head{
                        background-color: #539be8;
                    }
                    .add-task-button{
                        background-color: #8fbef0;
                    }
                }
            }
            &.red{
                .checker-content{
                    .checker-head{
                        background-color: #fe6261;
                    }
                    .add-task-button{
                        background-color: #fea5a5;
                    }
                }
            }
            &.green{
                .checker-content{
                    .checker-head{
                        background-color: #50ca95;
                    }
                    .add-task-button{
                        background-color: #9ee2c5;
                    }
                }
            }
            &.coffee{
                .checker-content{
                    .checker-head{
                        background-color: #d29034;
                    }
                    .add-task-button{
                        background-color: #d29034ad;
                    }
                }
            }
            &.purple{
                .checker-content{
                    .checker-head{
                        background-color: #937fa7;
                    }
                    .add-task-button{
                        background-color: #937fa7ab;
                    }
                }
            }
            &.pink{
                .checker-content{
                    .checker-head{
                        background-color: #ec9eac;
                    }
                    .add-task-button{
                        background-color: #ec9eaca6;
                    }
                }
            }
        }
        .add-checker-button{
            cursor: pointer;
            display: inline-block;
            text-align: center;
            vertical-align: top;
            margin: 71px 27px;
            border: 1px solid;
            padding: 54px;
            color: #777;

            &:hover{
                background-color: #fff;
            }
        }
    }
}
.due-date{
    font-size: 14px;
    color:gray;

    &.overtime{
        background-color: #ec9488;
        color: white;
        padding: 3px 9px;
        border-radius: 9px;
    }
}
.date-set-block{
    padding: 10px 7px 10px 4px;
    background-color: #e0eff9;
    .save-button{
        padding: 0;
        width: 47px;
        border-radius: 20px;
    }
}
.message-enter{
    padding: 13px 0;
}
.message{
    background-color: white;
    padding: 15px;
    margin: 22px 0;

    span {
        word-wrap: break-word;
    }
}
.checklist-enter{
    padding: 13px 0;
}
.checklist{
    background-color: white;
    padding: 3px;
    margin: 6px 0;

    .finished{
        text-decoration: line-through;
        opacity: 0.5;
        font-style:italic;
    }
    span {
        word-wrap: break-word;
        padding: 18px;
    }
}
.choose-color{
    padding: 60px;
    .choose-blue{
        background-color: #539be8;
        border-radius: 100%;
        width: 35px;
        height: 35px;
        &:hover{
            box-shadow: 0 0 27px rgba(0, 0, 0, 0.5);
        }
    }
    .choose-red{
        background-color: #fe6261;
        border-radius: 100%;
        width: 35px;
        height: 35px;
        &:hover{
            box-shadow: 0 0 27px rgba(0, 0, 0, 0.5);
        }
    }
    .choose-green{
        background-color: #50ca95;
        border-radius: 100%;
        width: 35px;
        height: 35px;
        &:hover{
            box-shadow: 0 0 27px rgba(0, 0, 0, 0.5);
        }
    }
    .choose-coffee{
        background-color: #d29034;
        border-radius: 100%;
        width: 35px;
        height: 35px;
        &:hover{
            box-shadow: 0 0 27px rgba(0, 0, 0, 0.5);
        }
    }
    .choose-purple{
        background-color: #937fa7;
        border-radius: 100%;
        width: 35px;
        height: 35px;
        &:hover{
            box-shadow: 0 0 27px rgba(0, 0, 0, 0.5);
        }
    }
    .choose-pink{
        background-color: #ec9eac;
        border-radius: 100%;
        width: 35px;
        height: 35px;
        &:hover{
            box-shadow: 0 0 27px rgba(0, 0, 0, 0.5);
        }
    }
}
