html{
    height: 100%;
}
body{
    height: 100%;
    background-color: #DCDCDC;
}
label{
    width: 10px;
}
.login-block{
    margin: 103px 248px;
    padding: 62px;
    background-color: white;
    height: 300px;
    line-height: 3;

    .login-input{
        text-align: left;
    }

    .login-button{
        padding: 5px 15px;
        background: #ccc;
        border: 0 none;
        cursor: pointer;
        border-radius: 5px;
        margin: 43px 86px;
    }
}
