.checker-layout{
    width: max-content;
}

.checker{
    display: inline-block;
    font-size: 16px;
    text-align:center;
    vertical-align: top;
    word-wrap: break-word;
}
.checker-arrow{
    display: inline-block;
    padding: 20px;
    font-size: 30px;
    vertical-align: top;
}
.checker-content{
    display: inline-block;
    line-height: 50px;
    width: 260px;
    border: 2px solid;
    vertical-align: top;
    margin: 10px 24px;
}
.checker-head{
    padding: 10px;
}
.task{
    padding: 10px;
    background-color: #DCDCDC;
    line-height: 30px;
}
.date-set-block{
    padding: 10px 33px 10px 10px;
    background-color: whitesmoke;
}
.add-checker-button{
    cursor: pointer;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin: 71px 27px;
    border: 1px solid;
    padding: 54px;
}
.add-checker-button:hover{
    background-color: #f7f7f7;
}

.add-task-button{
    cursor: pointer;
    width: 100%;
}
.add-task-button:hover{
    background-color: #f7f7f7;
}

.edit-button{
    width: 16px;
}
.delete-button{
    cursor: pointer;
    padding: 5px;
    font-size: 1px;
}
.delete-button:hover{
    background-color: #f7f7f7;
}
.task-delete-button{
    cursor: pointer;
    padding: 5px;
    font-size: 1px;
}
.task-alarm-button{
    width: 20px;
    cursor: pointer;
}
.task-delete-button:hover{
    background-color: #f7f7f7;
}

@keyframes blink {
	0% {opacity: 0}
	50% {opacity: 1}
    100%{opacity: 0}
}

.blink{animation: blink 1s infinite;}
