html {
  height: 100%;
}
body {
  height: 100%;
  background-color: #DCDCDC;
}
a {
  cursor: pointer;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.blink {
  animation: blink 1s infinite;
}
.icon-button {
  width: 20px;
  cursor: pointer;
}
.logout-button {
  color: white;
  padding: 9px 50px;
  cursor: pointer;
  float: right;
}
.logout-button:hover {
  background-color: #3c8dbc;
}
.checker-layout {
  width: max-content;
  height: 100%;
  background-color: #3c8dbc;
}
.checker-layout .header {
  background-color: #026aa7;
  height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.checker-layout .checker {
  display: inline-block;
  font-size: 16px;
  text-align: center;
  vertical-align: top;
  word-wrap: break-word;
  margin-top: 50px;
}
.checker-layout .checker .save-button {
  padding: 3px;
  display: block;
  border: 1px solid;
  background-color: #f2f8fc;
  cursor: pointer;
}
.checker-layout .checker .save-button:hover {
  background-color: #026aa7;
  color: white;
}
.checker-layout .checker .cancel-button {
  cursor: pointer;
}
.checker-layout .checker .checker-content {
  display: inline-block;
  line-height: 50px;
  width: 260px;
  border: 2px solid;
  vertical-align: top;
  margin: 10px 24px;
}
.checker-layout .checker .checker-content .checker-head {
  padding: 10px;
  background-color: #026aa7;
  color: white;
}
.checker-layout .checker .checker-content .checker-head .checker-name {
  background-color: #565454;
}
.checker-layout .checker .checker-content .checker-head .delete-button {
  cursor: pointer;
  padding: 5px;
  font-size: 1px;
}
.checker-layout .checker .checker-content .checker-head .delete-button:hover {
  background-color: #3c8dbc;
}
.checker-layout .checker .checker-content .task-list .task {
  padding: 10px;
  background-color: #f2f8fc;
  line-height: 30px;
}
.checker-layout .checker .checker-content .task-list .task .due-date {
  font-size: 14px;
  color: gray;
}
.checker-layout .checker .checker-content .task-list .task .due-date.overtime {
  background-color: #ec9488;
  color: white;
  padding: 3px 9px;
  border-radius: 9px;
}
.checker-layout .checker .checker-content .task-list .task .date-set-block {
  padding: 10px 33px 10px 10px;
  background-color: #e0eff9;
}
.checker-layout .checker .checker-content .task-list .task .task-delete-button {
  cursor: pointer;
  padding: 5px;
  font-size: 1px;
}
.checker-layout .checker .checker-content .task-list .task .task-delete-button:hover {
  background-color: #f7f7f7;
}
.checker-layout .checker .checker-content .task-list .task .dropdown .drop-button {
  width: 20px;
  cursor: pointer;
}
.checker-layout .checker .checker-content .task-list .task .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.checker-layout .checker .checker-content .task-list .task .dropdown .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  cursor: pointer;
}
.checker-layout .checker .checker-content .task-list .task .dropdown .dropdown-content a:hover {
  background-color: #ddd;
}
.checker-layout .checker .checker-content .task-list .task .dropdown:hover .dropdown-content {
  display: block;
}
.checker-layout .checker .checker-content .add-task-button {
  cursor: pointer;
  color: white;
  width: 100%;
}
.checker-layout .checker .checker-content .add-task-button:hover {
  background-color: #026aa7;
}
.checker-layout .checker .checker-arrow {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 14px;
  height: 14px;
  border-top: 10px solid black;
  border-right: 10px solid;
  transform: rotate(45deg);
  margin: 50px 20px;
}
.checker-layout .add-checker-button {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  margin: 71px 27px;
  border: 1px solid;
  padding: 54px;
  color: white;
}
.checker-layout .add-checker-button:hover {
  background-color: #026aa7;
}
