html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  background-color: #f7f7f7;
  height: 100%;
}
/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.task-list ul[dnd-list] {
  min-height: 42px;
  padding-left: 0px;
}
/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
.task-list ul[dnd-list] .dndDraggingSource {
  display: none;
}
/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
.task-list ul[dnd-list] .dndPlaceholder {
  background-color: #ddd;
  display: block;
  min-height: 42px;
}
.task-list ul[dnd-list] li {
  background-color: #fff;
  border: 1px solid #ddd;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
}
/**
 * Show selected elements in green
 */
.task-list ul[dnd-list] li.selected {
  background-color: #dff0d8;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}
input[type="checkbox"] {
  display: none;
}
label {
  cursor: pointer;
}
input[type="checkbox"] + label:before {
  border: 1px solid;
  content: "\00a0";
  display: inline-block;
  font-size: 15px;
  height: 25px;
  padding: 0;
  vertical-align: top;
  width: 25px;
  background-color: white;
}
input[type="checkbox"]:checked + label:before {
  background: #fff;
  color: #666;
  content: "\2713";
  text-align: center;
}
input[type="checkbox"]:checked + label:after {
  font-weight: bold;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.blink {
  animation: blink 1s infinite;
}
.small-icon-button {
  width: 14px;
  margin-top: 9px;
}
.icon-button {
  width: 20px;
  cursor: pointer;
  margin-top: 9px;
}
.logout-button {
  color: black;
  padding: 2px 50px;
  float: right;
  cursor: pointer;
}
.logout-button:hover {
  background-color: #f7f7f7;
}
.board-button {
  color: black;
  padding: 2px 50px;
  float: left;
  cursor: pointer;
}
.board-button:hover {
  background-color: #f7f7f7;
}
.header {
  background-color: #ddd;
  height: 26px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  position: absolute;
}
.gantt {
  top: 34px;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 85%;
  width: 100%;
  position: absolute;
  background-image: url('/img/core/loading.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.6);
}
.reports {
  bottom: 20px;
  left: 0;
  right: 0;
  z-index: 1000;
  position: absolute;
}
.reports .report {
  padding: 0 15px;
}
.web-layout {
  height: 100%;
  min-height: 100%;
  /* real browsers */
  min-width: 100%;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  background-color: #f7f7f7;
}
.web-layout .board-layout {
  width: max-content;
}
.web-layout .board-layout .board {
  width: max-content;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  word-wrap: break-word;
  margin-top: 175px;
  width: 300px;
  height: 250px;
  padding: 50px;
  vertical-align: top;
  border: 1px solid;
  color: #777;
}
.web-layout .board-layout .board .save-button {
  padding: 3px;
  display: block;
  border: 1px solid;
  cursor: pointer;
}
.web-layout .board-layout .board .save-button:hover {
  background-color: #fff;
}
.web-layout .board-layout .board .cancel-button {
  cursor: pointer;
}
.web-layout .board-layout .board .board-content {
  display: inline-block;
  line-height: 50px;
  width: 300px;
  vertical-align: top;
  margin: 10px 24px;
}
.web-layout .board-layout .board .delete-button {
  cursor: pointer;
  padding: 5px;
  font-size: 1px;
}
.web-layout .board-layout .board .enter-board {
  padding: 40px;
  margin: 40px;
}
.web-layout .board-layout .board .enter-board:hover {
  background-color: #fff;
}
.web-layout .board-layout .add-board-button {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  margin: 221px 27px;
  border: 1px solid;
  padding: 54px;
  color: #777;
}
.web-layout .board-layout .add-board-button:hover {
  background-color: #fff;
}
.web-layout .checker-layout {
  height: 100%;
  width: max-content;
}
.web-layout .checker-layout .checker {
  display: inline-block;
  font-size: 16px;
  text-align: center;
  vertical-align: top;
  word-wrap: break-word;
  margin-top: 27px;
  overflow: scroll;
  height: 90%;
}
.web-layout .checker-layout .checker .save-button {
  padding: 3px;
  display: block;
  border: 1px solid;
  background-color: #f2f8fc;
  cursor: pointer;
}
.web-layout .checker-layout .checker .save-button:hover {
  background-color: #026aa7;
  color: white;
}
.web-layout .checker-layout .checker .cancel-button {
  cursor: pointer;
}
.web-layout .checker-layout .checker .checker-content {
  display: inline-block;
  line-height: 24px;
  width: 300px;
  border: 1px solid;
  vertical-align: top;
  margin: 7px 24px;
}
.web-layout .checker-layout .checker .checker-content:hover {
  box-shadow: 1px 2px 5px #888888;
}
.web-layout .checker-layout .checker .checker-content .checker-head {
  color: white;
}
.web-layout .checker-layout .checker .checker-content .checker-head .delete-button {
  cursor: pointer;
  padding: 5px;
  font-size: 1px;
}
.web-layout .checker-layout .checker .checker-content .checker-head .delete-button:hover {
  background-color: #3c8dbc;
}
.web-layout .checker-layout .checker .checker-content .task-list .task {
  padding: 5px;
  background-color: #f2f8fc;
  line-height: 19px;
}
.web-layout .checker-layout .checker .checker-content .task-list .task .task-arrow {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 10px;
  height: 10px;
  border-top: 2px solid black;
  border-right: 2px solid;
  transform: rotate(135deg);
  margin: 14px;
}
.web-layout .checker-layout .checker .checker-content .task-list .task .task-delete-button {
  cursor: pointer;
  padding: 5px;
  font-size: 1px;
}
.web-layout .checker-layout .checker .checker-content .task-list .task .task-delete-button:hover {
  background-color: #f7f7f7;
}
.web-layout .checker-layout .checker .checker-content .task-list .task .dropdown .drop-button {
  width: 20px;
  cursor: pointer;
}
.web-layout .checker-layout .checker .checker-content .task-list .task .dropdown .dropdown-content {
  position: relative;
  left: -136px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.web-layout .checker-layout .checker .checker-content .task-list .task .dropdown .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  cursor: pointer;
}
.web-layout .checker-layout .checker .checker-content .task-list .task .dropdown .dropdown-content a:hover {
  background-color: #ddd;
}
.web-layout .checker-layout .checker .checker-content .add-task-button {
  cursor: pointer;
  color: white;
  width: 100%;
}
.web-layout .checker-layout .add-checker-button {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  margin: 71px 27px;
  border: 1px solid;
  padding: 54px;
  color: #777;
}
.web-layout .checker-layout .add-checker-button:hover {
  background-color: #fff;
}
.dropdown {
  padding: 4px;
}
.dropdown .drop-button {
  width: 100%;
  cursor: pointer;
  height: 20px;
  border-radius: 100%;
}
.dropdown .dropdown-content {
  position: relative;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  cursor: pointer;
}
.dropdown .dropdown-content a:hover {
  background-color: #ddd;
}
.due-date {
  font-size: 14px;
  color: gray;
}
.due-date.overtime {
  background-color: #ec9488;
  color: white;
  padding: 3px 9px;
  border-radius: 9px;
}
.date-set-block {
  padding: 10px 7px 10px 4px;
  background-color: #e0eff9;
}
.date-set-block .save-button {
  padding: 0;
  width: 47px;
  border-radius: 20px;
}
.message-enter {
  padding: 13px 0;
}
.message {
  background-color: white;
  padding: 15px;
  margin: 22px 0;
}
.message span {
  word-wrap: break-word;
}
.checklist-enter {
  padding: 13px 0;
}
.checklist {
  background-color: white;
  padding: 3px;
  margin: 6px 0;
}
.checklist .finished {
  text-decoration: line-through;
  opacity: 0.5;
  font-style: italic;
}
.checklist span {
  word-wrap: break-word;
  padding: 18px;
}
.blue .checker-content .checker-head {
  background-color: #539be8;
}
.blue .checker-content .add-task-button {
  background-color: #8fbef0;
}
.red .checker-content .checker-head {
  background-color: #fe6261;
}
.red .checker-content .add-task-button {
  background-color: #fea5a5;
}
.green .checker-content .checker-head {
  background-color: #50ca95;
}
.green .checker-content .add-task-button {
  background-color: #9ee2c5;
}
.coffee .checker-content .checker-head {
  background-color: #d29034;
}
.coffee .checker-content .add-task-button {
  background-color: #d29034ad;
}
.purple .checker-content .checker-head {
  background-color: #937fa7;
}
.purple .checker-content .add-task-button {
  background-color: #937fa7ab;
}
.pink .checker-content .checker-head {
  background-color: #ec9eac;
}
.pink .checker-content .add-task-button {
  background-color: #ec9eaca6;
}
.color_a .checker-content .checker-head {
  background-color: #91c976;
}
.color_a .checker-content .add-task-button {
  background-color: #91c975b3;
}
.color_b .checker-content .checker-head {
  background-color: #c97676;
}
.color_b .checker-content .add-task-button {
  background-color: #c97676a3;
}
.color_c .checker-content .checker-head {
  background-color: #e2da25;
}
.color_c .checker-content .add-task-button {
  background-color: #e2da2887;
}
.color_d .checker-content .checker-head {
  background-color: #ed8d1e;
}
.color_d .checker-content .add-task-button {
  background-color: #ed8d1e9e;
}
.color_e .checker-content .checker-head {
  background-color: #76c9c0;
}
.color_e .checker-content .add-task-button {
  background-color: #75c9c0bd;
}
.color_f .checker-content .checker-head {
  background-color: #7695c9;
}
.color_f .checker-content .add-task-button {
  background-color: #7694caab;
}
.color_g .checker-content .checker-head {
  background-color: #c9769a;
}
.color_g .checker-content .add-task-button {
  background-color: #c9759abf;
}
.color_h .checker-content .checker-head {
  background-color: #283484;
}
.color_h .checker-content .add-task-button {
  background-color: #283483c2;
}
.color_i .checker-content .checker-head {
  background-color: #751616;
}
.color_i .checker-content .add-task-button {
  background-color: #741616c2;
}
.choose-color {
  padding: 20px;
}
.choose-color .choose {
  border-radius: 100%;
  width: 35px;
  height: 35px;
}
.choose-color .choose:hover {
  box-shadow: 0 0 27px rgba(0, 0, 0, 0.5);
}
.choose-color .choose-blue {
  background-color: #539be8;
}
.choose-color .choose-red {
  background-color: #fe6261;
}
.choose-color .choose-green {
  background-color: #50ca95;
}
.choose-color .choose-coffee {
  background-color: #d29034;
}
.choose-color .choose-purple {
  background-color: #937fa7;
}
.choose-color .choose-pink {
  background-color: #ec9eac;
}
.choose-color .choose-color-a {
  background-color: #91c976;
}
.choose-color .choose-color-b {
  background-color: #c97676;
}
.choose-color .choose-color-c {
  background-color: #e2da25;
}
.choose-color .choose-color-d {
  background-color: #ed8d1e;
}
.choose-color .choose-color-e {
  background-color: #76c9c0;
}
.choose-color .choose-color-f {
  background-color: #7695c9;
}
.choose-color .choose-color-g {
  background-color: #c9769a;
}
.choose-color .choose-color-h {
  background-color: #283484;
}
.choose-color .choose-color-i {
  background-color: #751616;
}
